<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Coffee</string>
		<key>numberOfSales</key>
		<integer>0</integer>
		<key>price</key>
		<real>1.9899999999999998</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Latte</string>
		<key>numberOfSales</key>
		<integer>0</integer>
		<key>price</key>
		<real>3.4899999999999998</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Flat White</string>
		<key>numberOfSales</key>
		<integer>0</integer>
		<key>price</key>
		<real>3.9899999999999998</real>
	</dict>
</array>
</plist>
